[Unit]
Description=RDS Backup Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Lambda-RDS-Backup-/
ExecStart=/home/ubuntu/Lambda-RDS-Backup-/rds-backup-service
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/ubuntu/Lambda-RDS-Backup-/logs/rds-backup.log
StandardError=append:/home/ubuntu/Lambda-RDS-Backup-/logs/rds-backup.log
# Environment variables if needed
# Environment=

[Install]
WantedBy=multi-user.target